* {
  margin: 2px;
  padding: 2px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightcyan;
}

h1 {
  text-transform: uppercase;
  margin: 40px 0 20px;
  font-size: 40px;
}

.container {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

input {
  background-color: #fff;
  border: none;
  border-bottom: 1.5px solid #000;
}

input, button {
  font-size: 16px;
  padding: 8px;
}

button {
  font-weight: bold;
  background-color: rgb(20, 69, 158);
  color: #fff;
  border: none;
  margin-bottom:30px ;
}

#item-lista {
  font-size: 16px;
}

ul {
  display: flex;
  flex-direction: column;
}

ul li {
  margin: 0 auto;
}

ul li a {
  text-decoration: none;
  color: #000;
}

.tachado {
  text-decoration: line-through;
}